body {    
    background-color: gray;
    color: white;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px
}   
#content-contact {  
      text-align: center;
}   
h1 {
    font-size: 55px;
	margin-bottom: -20px;
}
h2 {
	font-size: 25px;
	margin-bottom: -8px;
	text-align: center;
}
h3 {
    letter-spacing: 5px;
}
h4  {
    letter-spacing: 5px;
}
li {
	font-size: 18px;
	text-align: left;
}
