body {    
    background-color: gray;
    color: white;
	text-align: left;
}   
#content-contact {  
      text-align: center;
}   
h1 {
    font-size: 55px;
	margin-bottom: -20px;
}
h2 {
	font-size: 25px;
	margin-bottom: -8px;
}
h3 {
    letter-spacing: 5px;
}
h4  {
    letter-spacing: 5px;
}
li {
	font-size: 23px;
	text-align: left;
}
